/* 初始化 */
body{
	font-family: "Microsoft YaHei";
	background: #ececec;
}
input{
	border: none;
}
nav{
	background: rgb(51, 51, 51);
}
nav ul{
	margin: 0 auto;
	float: left;
}
nav ul li a{
	color: #fff;
}
/* 初始化结束 */
/* 导航 */
.nav_right{
	float: right;
	margin-top: 5px;
}
.nav_right_1{
	outline: none;
	height: 30px;
	background: rgb(94, 103, 117);
	text-indent: 10px;
	width: 100px;
}
.nav_right_2{
	background: rgb(92, 184, 92);
	width: 80px;
	height: 30px;
	color: #fff;
	border-radius: 3px;
}
.nav_right_3{
	background: rgb(91, 192, 222);
	width: 80px;
	height: 30px;
	color: #fff;
	border-radius: 3px;

}
/* 导航结束 */
/* 横幅 */

.fir_ad{
	width: 100%;
	background: #fff;
	text-align: center;
	padding: 20px 0;
}
.fir_ad img{
	margin-bottom: 3px;
	margin-right: 4px;
}
.fir_ad a{
	color: #606060;
	font-size: 16px;
}
.fir_ad a:hover{
	text-decoration: underline;
}